.pc-cms-image-preview-container {
  display: block;
}

.pc-cms-single-preview-image {
  position: relative;
}

.pc-cms-clear-files {
  display: block;
  margin-bottom: 1rem;
  margin-left: 15px;
  margin-right: 15px;
}