/* Colors */
$white: #fff;
$black: #000;
$blue: #1C13CA;
$indygo-900: #1A237E;
$indygo-600: #3949AB;
$indygo-300: #7986CB;
$indygo-100: #C5CAE9;

/* Theme buttons */
$button-border-width: 2px;
$button-primary-border-color: $indygo-900;

/* Typography */
$font-family-base: 'Open Sans';
$global-letter-spacing: .3rem;

/* Forms */
$input-border-radius: 0px;
$input-border-radius-lg: 0px;
$input-border-radius-sm: 0px;
$input-placeholder-color: $white;
