.pc-about-front-page {
  background-color: #eeeeee;
  // padding: 5rem 0;
  .container {
    position: relative;
  }
}

.pc-about-front-page-content {
  background-color: $white;
  box-shadow: 0 0px 30px rgba($black, .1);
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  @include media-breakpoint-up(lg) {
    padding-left: 11.88rem;
  }
}
