.pc-blog-categories-wrapper {
  position: relative;
}

.pc-blog-categories {
  position: absolute;
  right: 2rem;
  top: -2.5rem;
  li {
    a {
      display: inline-block;
      text-decoration: none;
      color: $white;
      margin-left: 1rem;
      border-bottom: 3px solid transparent;
      padding-bottom: .5rem;
      &:hover {
        border-color: $white;
      }
    }
    .active {
      border-color: $white !important;
    }
  }
}