.pc-megaMenu {
  position: fixed;
  top: 0;
  left: -100vw;
  right: 100vw;
  bottom: 0;
  background-color: $white;
  z-index: 8000;
  display: none;
  @include baseTransition;
  &.open {
    left: 0;
    right: 0;
  }
}

.pc-close-megaMenu-btn {
  font-size: 2rem;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: $grey-200;
  &:hover {
    text-decoration: none;
  }
}

.pc-megaMenu-right-inner {
  height: 100vh;
}

.pc-megaMenu-menu-item {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.pc-megaMenu-left-inner {
  position: relative;
  height: 100vh;
}

.pc-megaMenu-left-inner-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &::after {
    @include overlay($black, .3);
  }
}
