.pc-navigation {
  padding: 20px 0;
  letter-spacing: $global-letter-spacing;
  transition: all .3s ease-in-out;
}

.pc-navigation-content-inner-item {
  a {
    margin-right: 1rem;
  }
}

/* pc hamburger btn */
.pc-hamburger-btn {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 22px;
  width: 40px;
  span {
    height: 3px;
    width: 100%;
    background-color: $white;
  }
}

/* Navigation email */
.pc-navigation-content-email {
  display: inline-block;
  color: $white;
  font-size: 0.875rem;
  text-decoration: none;
  span {
    color: $blue;
    margin-right: .3rem;
  }
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

/* pc naviagation scrolled */
.pc-navigation-scrolled {
  background-color: rgba($blue, .6);
  span.fa {
    color: $white;
  }
}
